*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bgColor: #8a764c;
    --primaryColor: black;
    --secondaryColor: white;
}
body{
    background-color: var(--bgColor);
    text-align: center;
    /*
    background-color: your color
    background-image: url('image path')
    background-position: Where do you want the background image to start
    background-size: Size of the background image -> cover and more
    background-repeat: Do you want it to repeat or not
    background-origin: Specify the position area: (padding-box, border-box, content-box)
    background-clip: (border-box, padding-box, content-box)
    background-attachment: Do you want your image to scroll with the rest of the image? fixed, scroll 
    */
    /* background: col; */
    /* background: var(--bgColor) url('https://i.postimg.cc/W3tfwN1H/joel1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    object-fit: contain;
    object-position: center;
    background-blend-mode: screen; */
    /* color: var(--secondaryColor); */
    /* -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-blend-mode: screen;
    scroll-behavior: smooth;
    object-fit: contain;
    object-position: center; */
}
table {
    border-collapse: collapse;
    margin: 2rem auto;
    width: 50vw;
    border-radius: 20%;
    border-style: hidden;
    box-shadow: 0px 1px 2rem 1px var(--primaryColor);
    padding: 2rem;
    overflow: scroll;
}
th{
    color: var(--secondaryColor);
}
td{
    color: beige;
    padding-bottom: 10px;
}
table, th, td {
    border: 2px solid green; 
}
